.source{
    width: 50%;
    float: left;
}

.result{
    width: 50%; 
    float:  left;
}

body{
    font-family: 'Roboto', sans-serif;
}

.button {
    background-color: #009999;
    color: white;
    padding: 12px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 2px 2px;
    cursor: pointer;
    border: none;
    transition: background-color 1s;    
}

.button:hover {
    background-color: #00bdbd;
}

form{
    margin-bottom: 15px;
}

.fileUpload {
    position: relative;
    overflow: hidden;
    margin: 10px;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

/* Box styles */
.myBox {
    padding: 0 5px;
    border: none;
    width: 90%;
    margin-bottom: 15px;
    height: 210px;
    overflow: scroll;
}

/* Scrollbar styles */
::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}

::-webkit-scrollbar-track {
    background: #f5f5f5;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #ccc;  
}

::-webkit-scrollbar-thumb:hover {
    background: #999;  
}